<div class="grid grid-cols-1 gap-4 sm:grid-cols-2" data-controller="compensation-fields"
     data-compensation-fields-salary-relevant-types-value="<%= Onboarding::CandidateProfile::SALARY_RELEVANT_EMPLOYMENT_TYPES.to_json %>"
     data-compensation-fields-percentage-relevant-types-value="<%= Onboarding::CandidateProfile::PERCENTAGE_RELEVANT_EMPLOYMENT_TYPES.to_json %>">
  <div class="sm:col-span-2">
    <%= checkbox_group(candidate_profile, :employment_types, options: Onboarding::CandidateProfile::EMPLOYMENT_TYPES,
          label: "Desired employment type", grid_class: "grid-cols-1 sm:grid-cols-3", required: true,
          data: { action: "change->compensation-fields#toggleEmploymentSections", "compensation-fields-target": "employmentCheckbox" }) %>
  </div>

  <div>
    <%= field_label(form, :years_of_experience, text: "Years of combined dental experience", candidate_profile: candidate_profile, required: true) %>
    <%= form.number_field :years_of_experience, min: 0, class: form_input_class(candidate_profile, :years_of_experience) %>
    <%= field_errors(candidate_profile, :years_of_experience) %>
  </div>

  <div class="<%= "hidden" unless (candidate_profile.employment_types & Onboarding::CandidateProfile::SALARY_RELEVANT_EMPLOYMENT_TYPES).any? %>"
       data-compensation-fields-target="salarySection">
    <%= field_label(form, :desired_gross_salary, text: "Desired gross salary", candidate_profile: candidate_profile, required: true) %>
    <%= form.number_field :desired_gross_salary, min: 0, class: form_input_class(candidate_profile, :desired_gross_salary) %>
    <%= field_errors(candidate_profile, :desired_gross_salary) %>
  </div>

  <div class="<%= "hidden" unless (candidate_profile.employment_types & Onboarding::CandidateProfile::PERCENTAGE_RELEVANT_EMPLOYMENT_TYPES).any? %>"
       data-compensation-fields-target="percentageSection">
    <%= field_label(form, :desired_percentage, text: "Desired percentage", candidate_profile: candidate_profile, required: true) %>
    <%= form.number_field :desired_percentage, min: 0, max: 100, step: 0.01, class: form_input_class(candidate_profile, :desired_percentage) %>
    <%= field_errors(candidate_profile, :desired_percentage) %>
  </div>

  <% if Onboarding::CandidateProfile::REVENUE_RELEVANT_JOB_FUNCTIONS.include?(candidate_profile.job_function) %>
    <div>
      <%= field_label(form, :average_daily_revenue, candidate_profile: candidate_profile, required: true) %>
      <%= form.number_field :average_daily_revenue, min: 0, class: form_input_class(candidate_profile, :average_daily_revenue) %>
      <%= field_errors(candidate_profile, :average_daily_revenue) %>
    </div>
  <% end %>

  <% if Onboarding::CandidateProfile::BIG_RELEVANT_JOB_FUNCTIONS.include?(candidate_profile.job_function) %>
    <div>
      <%= field_label(form, :big_registration_status, candidate_profile: candidate_profile, required: true) %>
      <%= form.select :big_registration_status,
            Onboarding::CandidateProfile.big_registration_statuses.keys.map { |key| [ key.humanize, key ] },
            { include_blank: true }, class: form_input_class(candidate_profile, :big_registration_status),
            data: { action: "change->compensation-fields#toggleBigNumberSection", "compensation-fields-target": "bigStatusSelect" } %>
      <%= field_errors(candidate_profile, :big_registration_status) %>
    </div>

    <div class="<%= "hidden" unless candidate_profile.big_registration_status == "big_registered" %>"
         data-compensation-fields-target="bigNumberSection">
      <%= field_label(form, :big_number, candidate_profile: candidate_profile, required: true) %>
      <%= form.text_field :big_number, class: form_input_class(candidate_profile, :big_number) %>
      <%= field_errors(candidate_profile, :big_number) %>
    </div>
  <% end %>
</div>
